input[type="email"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  width: 100%;
}
